

*{
   box-sizing: border-box;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
   display: flex;
   background-color: #f5f5f5;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   /* height: 100vh; */
   overflow: hidden;
   overflow-y: auto;
   margin: 100px 0;
   color: #444;
}

h1{
   color: rgb(60, 131, 226);
   font-size: 8rem;
   text-align: center;
   opacity: 0.5;
   margin-top: 10px;
   margin-bottom: 0;
}

form{
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
   max-width: 100%;
   width: 400px;
}

.input{
   border: none;
   color: #444;
   font-size: 2rem;
   padding: 1rem 2rem;
   display: block;
   width: 100%;

}

.input::placeholder{
   color: #d5d5d5;
}

.input:focus{
   outline-color: rgb(179, 131, 226);
}

.todos{
   background-color: #fff;
   padding: 0;
   margin: 0;
   list-style: inside;
   list-style-type: circle;
}


.todos li{
   border-bottom: 1px solid #e5e5e5;
   cursor: pointer;
   font-size: 1.5rem;
   padding: 1rem 2rem;
}

.todos li.completed{
   color: #b6b6b6;
   text-decoration: line-through;
}

small{
   color: #bba6a6;
   margin-top: 3rem;
   text-align: center;
}

small :first-child{
   color: rgb(60, 131, 226);
}


@media screen and (max-width:400px) {
   body{
      transform: scale(0.8);
   }

   h1{
      font-size: 5rem;
   }
}
